@font-face {
    font-family: "HelveticaNeueCyr";
    src: url("./fonts/helveticaneuecyr_roman.otf");
}

@font-face {
    font-family: "Neutral Face";
    src: url("./fonts/NeutralFace.otf");
}